@model WebApplication3.Models.DTOs.ListaNegraDTO

<form id="consumidoresForm" asp-action="CrearConsumidor" asp-controller="Consumidor" method="post">
    <div class="form-group">
        <label for="NombreConsumidor">Nombre del Consumidor</label>
        <input type="text" class="form-control" id="NombreConsumidor" placeholder="Ingrese el nombre del consumidor" />
    </div>

    <div class="form-group">
        <label for="Rol">Rol</label>
        <select id="Rol" class="form-control">
            <option value="">Seleccione un rol</option>
        </select>
    </div>

    <button type="button" class="btn btn-info" id="agregarConsumidor">Agregar Consumidor</button>

    <ul id="consumidoresList" class="mt-3"></ul>

    <button type="submit" class="btn btn-primary mt-2">Guardar Consumidores</button>
    <button class="btn-warning" id="hider">Ocultar</button>
</form>