@model WebApplication3.Models.DTOs.VentasDTO
<h1 id="info" style="display: none"></h1>

<form>
    <input required="true" name="Nit" id="Nit">
    <input required="true" name="Direccion" id="Direccion">
    <a id="FEL" style="display:none" href="#">Descargar FEL</a>

</form>
<div id="Consumers" style="display : none">

    @await Html.PartialAsync("_ConsumidorForm", new WebApplication3.Models.DTOs.ListaNegraDTO())
</div>
<button id="NewConsumer" style=" display:block"> Nuevo consumidor</button>
@await Html.PartialAsync("../Cotizacion/Cotizaciones", new WebApplication3.Models.DTOs.VentasDTO())

@section Scripts{
    <script src="~/js/Roles.js" asp-append-version="true"></script>
    <script src="~/js/ConsultaNit.js" asp-append-version="true"></script>
    <script src="~/js/PrediccionConsumidor.js" asp-append-version="true"></script>
    <script src="~/js/listaNegra.js" asp-append-version="true"></script>
    <script src="~/js/ManejoDeTablayPost.js" asp-append-version="true"></script>
    <script src="~/js/impresiones.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Consumidores.js" asp-append-version="true"></script>
}