@{
    ViewData["Title"] = "Acceso Denegado";
}

<h2 class="text-danger">Acceso Denegado</h2>

@if (ViewBag.MensajeError != null)
{
    <div class="alert alert-warning">
        @ViewBag.MensajeError
    </div>
}

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver al inicio</a>
