@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-dark" asp-controller="Deudor"  asp-action="CrearDeudor">Lista Negra</a>
    <a class="btn btn-dark" asp-controller="Product" asp-action="CrearProducto">Crear Productos</a>
    <a class="btn btn-dark" asp-controller="Product" asp-action="Inventario">Inventario</a>
    <a class="btn btn-dark" asp-controller="Consumidor" asp-action="CrearConsumidor">Consumidores</a>
    <a class="btn btn-dark" asp-controller="Deudor" asp-action="CancelarProductos">Cancelar deuda</a>
    <a class="btn btn-dark" asp-controller="Deudor" asp-action="GestionDeudas">Resumen Deudas</a>
    <a class="btn btn-dark" asp-controller="Deudor" asp-action="AgregarDeuda">Aumento Lista negra</a>
    <a class="btn btn-dark" asp-controller="Ventas" asp-action="Sales">Vender</a>
    <a class="btn btn-dark" asp-controller="Cotizacion" asp-action="Cotizaciones">Cotizar</a>
    <a class="btn btn-dark" asp-controller="ResumenVentas" asp-action="ResumenHoy">Resumen del dia</a>
    <a class="btn btn-dark" asp-controller="ResumenVentas" asp-action="Vendido">Resumen de ventas</a>
    <a class="btn btn-dark" asp-controller="Facturas" asp-action="Facturacion">Facturas</a>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Consumidor">Consumidores y mas</a>
</div>
