@model WebApplication3.Models.DTOs.VentasDTO

@{
    ViewData["Title"] = "Crear Registro en Lista Negra";
}

<h2>Crear Registro en Lista Negra</h2>


@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}
<h1 id="info" style="display: none"></h1>

@await Html.PartialAsync("../Cotizacion/Cotizaciones", new WebApplication3.Models.DTOs.VentasDTO())


@section Scripts {
    <script src="~/js/Roles.js" asp-append-version="true"></script>
    <script src="~/js/ConsultaNit.js" asp-append-version="true"></script>
    <script src="~/js/PrediccionConsumidor.js" asp-append-version="true"></script>
    <script src="~/js/listaNegra.js" asp-append-version="true"></script>
    <script src="~/js/ManejoDeTablayPost.js" asp-append-version="true"></script>
    <script src="~/js/impresiones.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Consumidores.js" asp-append-version="true"></script>
}

